.cardsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  max-width: 70%;
}
.custom-card {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
  background-color: #fff;
  width: 250px;
  height: fit-content;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #888;
}
